<% order_list = EcData::OrderList.find_by(id:order.order_list_id) %>
<% sending_address = EcData::SendingAddress.find_by(order_list_id:order_list.id) %>
<% shipment_limit = order_list.bought_time + 3.day %>
<% shipment_caution = order_list.bought_time + 2.day %>
<% if Time.zone.now > shipment_caution %>
<div class="order-title shipment-caution">
    <div class="order-date"><%= order_list.bought_time.strftime("%m月%d日 %H:%M")%>の注文</div>
    <% if order.trailing_id.nil? %>
    <div class="shipment-incomplete">発送未完了</div>
    <% else %>
    <div class="shipment-complete">発送完了</div>
    <% end %>
    <div class="empty-item"></div>
    <div class="order-open">表示</div>
</div>
<div class="order-data">
    <div>
        <div class="title">発送期日</div>
        <div class="data" style="color:red">：<%= shipment_limit.strftime("%m月%d日 %H:%M") %></div>
    </div>
    <div>
        <div class="title">郵便番号</div>
        <div class="data">：〒<%= sending_address.zipcode.insert(3, '-') %></div>
    </div>
    <div>
        <div class="title">住所</div>
        <div class="data">：<%= sending_address.pref %><%= sending_address.city %><%= sending_address.street %><%= sending_address.building %></div>
    </div>
    <div>
        <div class="title">名前</div>
        <div class="data">：<%= sending_address.lastname %><%= sending_address.firstname %>様</div>
    </div>
    <div>
        <div class="title">数量</div>
        <div class="data">：<%= order.quantity %>個</div>
    </div>
    <%= form_tag '/shipments/stocks/complete' do %>
    <div class="trailing_id">
        <div>発送番号：</div>
        <div><%= text_field_tag :trailing_id, order.trailing_id, id:"trailing-id-#{order.id}" %></div>
    </div>
    <%= hidden_field_tag :order_id, order.id %>
    <div>
        <%= button_tag disabled:true, confirm:"発送完了処理を実施します。", id:"trailing-id-#{order.id}-complete" do %><%= icon('fas','dolly') %>発送完了<% end %>
    </div>
    <div class="caution">
        発送完了後、伝票番号(12桁)を入力して発送完了ボタンをおしてください。
    </div>
    <% end %>
</div>
<% else %>
<% end %>
