<% if order_product.order_list.sending_address.nil? %>
<% sending_address = order_product.order_list.buyer_address %>
<% else %>
<% sending_address = order_product.order_list.sending_address %>
<% end %> 
<% shipment_limit = order_product.order_list.payment.paid_at + 3.days %>
<div>
    <div>
        <div class="title">購入日時</div>
        <div class="data" style="color:red">：<%= order_product.order_list.bought_time.strftime("%m月%d日 %H:%M") %></div>
    </div>
    <div>
        <div class="title">発送期日</div>
        <div class="data" style="color:red">：<%= shipment_limit.strftime("%m月%d日 23:59") %></div>
    </div>
    <div>
        <div class="title">商品名</div>
        <div class="data">：<%= order_product.product.name %></div>
    </div>
    <div>
        <div class="title">数量</div>
        <div class="data">：<%= order_product.quantity %>個</div>
    </div>
    <div>
        <div class="title">郵便番号</div>
        <div class="data">：〒<%= sending_address.zipcode.insert(3, '-') %></div>
    </div>
    <div>
        <div class="title">住所</div>
        <div class="data">：<%= sending_address.pref %><%= sending_address.city %><%= sending_address.street %><%= sending_address.building %></div>
    </div>
    <div>
        <div class="title">名前</div>
        <div class="data">：<%= sending_address.lastname %><%= sending_address.firstname %>様</div>
    </div>
    <div>
        <div class="title">電話番号</div>
        <div class="data">：<%= sending_address.phone %></div>
    </div>
    <%= form_tag '/shipments/stocks/complete' do %>
    <div class="trailing_id">
        <div>発送番号：</div>
        <div><%= text_field_tag :trailing_id, order_product.trailing_id, id:"trailing-id-#{order_product.id}" %></div>
    </div>
    <%= hidden_field_tag :order_id, order_product.id %>
    <div>
        <%= button_tag disabled:true, confirm:"発送完了処理を実施します。", id:"trailing-id-#{order_product.id}-complete" do %>
            <%= icon('fas','dolly') %>発送完了
        <% end %>
    </div>
    <div class="caution">
        発送完了後、伝票番号(12桁)を入力して発送完了ボタンをおしてください。
    </div>
    <% end %>
</div>
