<%= form_for @stock do | f | %>
<div>
    <%= f.label :type, "出荷品目（送料設定済みの商品が選択可能）" %>
    <%= f.select :type, @stock_list ,:include_blank => true %>
</div>
<div class="error_message">
    <ul>
        <% @stock.errors.full_messages_for(:type).each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
</div>
<div>
    <%= f.label :shipment_week, "出荷予定週" %>
    <% if controller.action_name == "new" %>
    <%= f.select :shipment_week, @week_list %>
    <% else %>
    <% first_day = Date.today.beginning_of_year %>
    <% path_day = @stock.shipment_week * 7 %>
    <% week_day = first_day + path_day - first_day.cwday + 1 - 7 %>
    <%= week_day.strftime("%m月%d日週出荷分") %>
    <%= f.hidden_field :shipment_week, value:@stock.shipment_week %>
    <% end %>
</div>
<div class="error_message">
    <ul>
        <% @stock.errors.full_messages_for(:shipment_week).each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
</div>
<div>
    <%= f.label :quantity, "出荷予定数" %>
    <%= f.number_field :quantity %>
</div>
<div class="error_message">
    <ul>
        <% @stock.errors.full_messages_for(:quantity).each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
</div>
<div>
    <%= f.label :remark, "備考（出荷内容）" %>
    <%= f.text_area :remark, row:5 %>
</div>
<%= f.hidden_field :area, value:current_user.area %>
<%= f.hidden_field :pref, value:current_user.pref %>
<%= f.hidden_field :box_flag, value:@stock.box_flag %>
<div class="submit">
    <%= button_tag do %><%= yield(:button_title) %><% end %>
</div>
<% end %>
