<div class="postage-title">
    <div>
        <% if postage.item_type == "MiddleBox" %>
        季節の野菜セット
        <% elsif  postage.item_type == "FewItemBox"%>
        小品目BOX
        <% else %>
        未実装商品
        <% end %>
    </div>
    <div class="empty-item">

    </div>
    <div class="data-open">
        表示
    </div>
</div>
<div class="postage-data">
    <div>
        <% if postage.company == "Yamato" %>
        <div class="title">運送会社</div><div>：ヤマト運輸</div>
        <% elsif postage.company == "Sagawa" %>
        <div class="title">運送会社</div><div>：佐川急便</div>
        <% elsif postage.company == "Jp" %>
        <div class="title">運送会社</div><div>：日本郵便</div>
        <% else %>
        <div class="title">運送会社</div><div>：エラー</div>
        <% end %>
    </div>
    <div>
        <div class="title">北海道</div><div>：<%= postage.hokkaido.to_s(:delimited) %>円</div>
    </div>
    <% if postage.company == "Jp" %>
    <div>
        <div class="title">東北</div><div>：<%= postage.touhoku.to_s(:delimited) %>円</div>
    </div>
    <% else %>
    <div>
        <div class="title">北東北</div><div>：<%= postage.kitatouhoku.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">南東北</div><div>：<%= postage.minamitouhoku.to_s(:delimited) %>円</div>
    </div>
    <% end %>
    <div>
        <div class="title">関東</div><div>：<%= postage.kantou.to_s(:delimited) %>円</div>
    </div>
    <% if postage.company == "Jp" %>
    <div>
        <div class="title">東京</div><div>：<%= postage.tokyo.to_s(:delimited) %>円</div>
    </div>
    <% end %>
    <div>
        <div class="title">信越</div><div>：<%= postage.shinetsu.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">北陸</div><div>：<%= postage.hokuriku.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">中部</div><div>：<%= postage.chubu.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">関西</div><div>：<%=postage.kansai.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">中国</div><div>：<%= postage.chugoku.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">四国</div><div>：<%= postage.shikoku.to_s(:delimited) %>円</div>
    </div>
    <% if postage.company == "Sagawa" %>
    <div>
        <div class="title">北九州</div><div>：<%= postage.kitakyushu.to_s(:delimited) %>円</div>
    </div>
    <div>
        <div class="title">南九州</div><div>：<%= postage.minamikyushu.to_s(:delimited) %>円</div>
    </div>
    <% else %>
    <div>
        <div class="title">九州</div><div>：<%= postage.kyushu.to_s(:delimited) %>円</div>
    </div>
    <% end %>
    <div>
        <div class="title">沖縄</div><div>：<%= postage.okinawa.to_s(:delimited) %>円</div>
    </div>
</div>
