<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render 'message_notification_mailer/new_message/template_style' %>
  </head>
  <body style="margin:0;">
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0"  class="base">
      <tr>
        <td>
          <%= render 'message_notification_mailer/new_message/template_header1' %>
          <%= render 'message_notification_mailer/new_message/template_image' %>
          <%= render 'message_notification_mailer/new_message/template_header2' %>
          <%= render 'message_notification_mailer/new_message/template_content1' %>
          <%= render 'message_notification_mailer/new_message/template_content2' %>
          <%= render 'message_notification_mailer/new_message/template_link_text' %>
          <%= render 'message_notification_mailer/new_message/template_caution' %>
          <%= render 'message_notification_mailer/new_message/template_footer' %>
        </td>
      </tr>
    </table>
  </body>
</html>